.congratulations {
  padding: 32px 0;

  .congratulations-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  span {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 86px;
    font-weight: 700;
    color: rgb(88, 88, 90);
  }

  .cookie-image {
    display: block;
    margin: 30px auto;
    max-width: 250px;
  }
}
